body{
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}
.my_small{
  font-size: 0.8rem;
}
.my_normal{
  font-size:1rem !important;
}
.my_header{
  width:100%;
  height:10rem;
}
.my_footer{
  width:100%;
  height:25rem;
}
@media screen and (max-width: 991px){
  .my_header{
    width:100%;
    height:10rem;
  }
  .my_footer{
    width:100%;
    height:60rem;
  }
}
@media screen and (min-width: 992px){

}


#mycar>a>span{
  width: 30px;
  height: 30px;
}

#mycar .carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 8px;
}
.carousel-indicators .active {
  background-color: #0aa1ed;
}
.my_gray{
  color:#9f9f9f;
}
.price{
  color: #0aa1ed;
  font-size: 1.5rem;
}
.card>.card-body>a,.card>.card-body>div>a{
  background: -webkit-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
  color:#fff;
}
li>a.price{
  background:#0aa1ed;
  color:#fff;
  font-size:1rem;
}
.my_input_w{
  width: 2rem;
}
.my_btn_bg2{
  background:#0aa1ed;
  color:#fff;
  font-size:1rem;
}

/**/
/*product_details*/
/**/
#p_list li img{
  width:5.2rem;
  transition:1s;
}
.my_p_width{
  width:28rem;
}
#p_list li img:hover{
  transform:scale(1.1,1.1);
}
.btn-outline-secondary:hover {
  color: #0aa1ed;
  background-color: #fff;
  border-color: #0aa1ed;
}
.my_btn_bg1{
  background: #ddd;
}
.my_img_bg{
  width:400px;
  height: auto;
}

/**/
/*加减框*/
/**/





