<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>商品详情</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0"/>
    <!-- Custom styles for this template -->
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/header.css" rel="stylesheet"/>
    <link href="../css/product.css" rel="stylesheet"/>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</head>
<body>

<!--导航栏-->
<header>

    <ul th:include="header :: navbar"></ul>

</header>

<!--2.主体-->
<div class="container">
    <!--面包屑导航-->
    <div>
        <!--<ul class="breadcrumb bg-transparent">-->
        <!--<li class="breadcrumb-item">-->
        <!--<a href="#" class="text-dark font-weight-bold my_small">服饰</a>-->
        <!--</li>-->
        <!--<li class="breadcrumb-item">-->
        <!--<a href="#" class="text-dark font-weight-bold my_small">女装</a>-->
        <!--</li>-->
        <!--<li class="breadcrumb-item">-->
        <!--<a href="#" class="text-dark font-weight-bold my_small">休闲</a>-->
        <!--</li>-->
        <!--</ul>-->

        <div class="row">
            <!-- 左：大图 小图列表-->
            <div class="col-lg-6 col-md-12">
                <!-- 上面大图-->
                <img class="my_img_bg" th:src="@{'/assets/product/case_'+${pp.getId()}+'.jpg'}" alt=""/>

                <!-- 下面小图列表-->
                <div class="my_p_width mt-2">
                    <ul id="p_list" class="list-unstyled d-flex justify-content-between">
                        <li><img th:src="@{'/assets/product/case_'+${pp.getId()}+'.jpg'}" alt=""/></li>
                        <li><img th:src="@{'/assets/product/case_'+${pp.getId()}+'.jpg'}" alt=""/></li>
                        <li><img th:src="@{'/assets/product/case_'+${pp.getId()}+'.jpg'}" alt=""/></li>
                        <li><img th:src="@{'/assets/product/case_'+${pp.getId()}+'.jpg'}" alt=""/></li>
                        <!--<li><img src="../assets/product/case_3.jpg" alt=""/></li>-->
                    </ul>
                </div>
            </div>


            <!-- 右：详情内容-->
            <div class="col-lg-6 col-md-12">
                <form th:action="@{/cart/add}" th:object="${cartitem}"  method="post">
                    <h5 class="font-weight-bold" th:text="${pp.getName()}"></h5>
                    <h6 class="font-weight-bold my_small" th:text="'产品描述：'+${pp.getDesc()}"></h6>
                    <div class="alert alert-secondary text-muted my_small">
                        <span>price</span>
                        <h3 class="d-inline-block price" th:text="'$'+${pp.getPrice()}"></h3>
                        <div class="my_small">Service commitment： *Free return within 30 days *72-hour delivery</div>
                    </div>
                    <div class="clearfix">
                        <div class="float-left">规格:</div>
                        <div class="float-left w-75 ml-2">
                            <a href="#" class="btn btn-outline-secondary my_gray">S size</a>
                            <a href="#" class="btn btn-outline-secondary my_gray">M size</a>
                            <a href="#" class="btn btn-outline-secondary my_gray">L size</a>
                        </div>
                    </div>

                    <!--隐藏div，用来传id-->
                    <!--世纪难题：field会顶value,可以通过name直接赋值-->
                    <input hidden="hidden" name="product.id" th:value="${pp.id}"/>
                    <!--放弃使用 th:field="*{amount}"-->

                    <div class="clearfix mt-2">
                        <div class="float-left">数量:</div>
                        <input th:value="1" th:min="1" name="amount" type="number" class="form-control float-left w-25 ml-2"/>
                    </div>


                    <!-- 立即购买-->
                    <div class="mt-3">
                        <button type="submit" class="btn my_normal my_btn_bg1 pt-3 price"> 立即购买 </button>
                        <button type="submit" class="btn my_btn_bg2 pt-3 price"> 加入购物车 </button>
                        <!--<a href="#" class="btn my_btn_bg2 pt-3 price"><img src="img/product_detail/product_detail_img6.png" alt=""/>收藏</a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 页脚 -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</footer>
</body>

</html>